streamlit
PyPDF2
pandas
faiss-cpu
langchain==0.2.12
langchain-core==0.2.6
langchain-community==0.2.6
langchain-text-splitters==0.2.2
langchain-google-genai==1.0.6


wikipedia
sentence-transformers
transformers