streamlit
PyPDF2
pandas
langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-google-genai
google-generativeai
faiss-cpu
python-dotenv

sentence-transformers
transformers
wikipedia